{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-unused-vars": 1,
    "prettier/prettier": 1
  }
}